/*------------MAin------------*/


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#main-panel{
    color: aliceblue;
    width: 100%;
    height: 100%;
    display:flex;
}

#login-panel{
    width: 40%;
    height: 100%;
    background-color: var(--color-dark-default);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cadastro-panel{
    width: 40%;
    height: 100%;
    background-color: var(--color-dark-default);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo-panel{
    width: 60%;
    height: 100%;
    background-color: var(--color-dark-default);
    background-image: url(../images/logo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#login-panel > #form-panel{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

#form-panel > #title-panel, #cadastro-panel > #title-panel{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#form-panel > #content-panel, #cadastro-panel > #title-panel{
    width: 100%;
    height: 80%;
    padding: 20px;
    color: aliceblue;
    border-radius: 8px;
}

#content-panel > #form-login{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#form-login > .input-field{
    height: 35px;
    padding: 0px 10px;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

#form-login > .input-field:focus{
    background-color: #E7FFFF;
    opacity: 0.4;
    color: #85579E;
}

#form-login > button{
    border: none;
    cursor:pointer;
    outline: none;
    height: 35px;
    margin: 4px 0px;
    background: linear-gradient(
        135deg,
        #85579E,
        #C14DE8,
        #9B3EA3
     
    );
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

#form-login > button:hover{
    background: linear-gradient(135deg,#B443CC,#9D00C4,#B443CC);
    transform: scale(1.02);
    transition: 0.5s;
    color: black;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(-500px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation-up{
    animation-name: up;
    animation-duration: 1500ms;
    animation-fill-mode: backwards;
}